@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>GradeABoxCo is an internet shop for all your school supply needs. 
   You can get anything from notebooks and pencils to more technologically savvy bundles for those who are headed to college.</p>
