@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron{
        background-image:url("../content/Images/BackgroundImageFaded.png")
    }
</style>
<div class="jumbotron">
    <h1>Grade A Box Company</h1>
    <p class="lead">Welcome to GradeABoxCo! Your one stop internet shop for all your school supplies!</p>
    <p><input type="button" class="btn btn-primary btn-lg" value="Start Shopping" onclick="location.href='@Url.Action("Index","Bundles")'" /><p>
</div>

<div class="row">
</div>