@model Int32
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<p> Thanks for your order! Your order number is: @Model </p>
<p>
    How about checking out more bundles in our gallery
    <input type="button" value="Gallery" onclick="location.href='@Url.Action("Index","Bundles")'"/>

</p>